---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Recipes"
---

<Layout pageTitle=""{pageTitle}>
    <body>
        <p>A place to test out storing recipes in MarkDown</p>
        <ul>
            <li><a href="/recipes/recipe-1/">Recipe 1</a></li>
        </ul>
    </body>
</Layout>

</html>