---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'

const pageTitle = "Blog"
const allRecipes = Object.values(import.meta.glob('./recipes/*.md', { eager: true }));
---

<Layout pageTitle={pageTitle}>
    <body>
        <p>This is where I will post about my journey learning Astro.</p>
        <ul>
            {allRecipes.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
    </body>
</Layout>

</html>