---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Post from "./posts/post-1.md"
import Greeting from '../components/preact/Greeting';

const pageTitle = 'ZimZam';
---

<Layout pageTitle={pageTitle}>
  <body>
    <div class="div1">
      <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
    </div>
  </body>
</Layout>

<style>
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
  }
</style>

