---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Post from "./posts/post-1.md"

const pageTitle = 'ZimZam';
---

<!-- <Layout pageTitle={pageTitle}> -->
  <body>
    <div class="div1">
      <h1>{pageTitle}</h1>
      <p>Website currently under development :)</p>
    </div>
    <Post />
  </body>
<!-- </Layout> -->

<style>
  .div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
  }
</style>

