---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
---

<Layout>
	<body>
		<h1>Sir</h1>
		<div class="div">
			<h2>About Sir</h2>
			<h3>A real cool dude</h3>
			<p>Sir like <b>bold</b> fixing errors in Monsido and brisk morning walks.</p>
			<p>Sir is learning HTML stuff!</p>
		</div>
	</body>
</Layout>

<style>
	.div {
		text-decorat: green;
	}
</style>