---
import Hamburger from "./Hamburger.astro"
---

<nav>
    <Hamburger />
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <a href="/recipes">Recipes</a>
    </div>
</nav>

<style>
    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;   
    }
</style>
